/*Global*/





h1 {
    color: #706B62; 
    font-size: 70px;
}

h2 {
    color: #AB4d00;
    font-size: 20px;
}

li {
    color: #706B62;
}

.pic {
width: 100%;
   margin-top: 20px;
    border-color: #AB4d00;
    border-width: thick;
    border-style: double;
    margin-left: 50px;
}


.col1 {
  width: 38%;
    float: left;
    display: inline;
    
  
}

.col2 {
  width: 58%;
    float: right;
    color: #D6D5C4;
}
p {
    color: #D6D5C4;
}

.ap {
     margin-left: 50px;
    margin-right: 50px;
    display: fixed;
    color: #D6D5C4; 
}
.col1,
.col2{
  margin-top: 25px;
    
}

article {
    width: 95%;
}

/*Layout*/

html {
        background: url(http://static.flavors.me/dynamic_images/background/61bda1d844664756a3204c8898e912ba);
}


/*Typography*/

/*Navigation*/


div {
    display: inline-block;
    background-color: #AB4d00;
    width: 100%;
    height: 7px;
    
  
        
}

nav {
text-align:center;
}

nav ul {
display:inline-block;
list-style:none; 
}

* html nav ul { 
display:inline;
}

* html nav ul { 
display:inline;
}

nav li {
display:inline;   
}

nav a {
float:left;
text-decoration:none; 
padding:0 30px; 
color: #AB4d00;
font-size: 20px;
}

.clearfix {
   clear: both;
}