/*Global*/




.nav {
  margin: 0 auto;
  width: 600px;
  position: relative;
  height: 400px;
  padding-top: 100px;
  overflow: hidden;
}

header {
  color: #AB4d00;
  width: 100%;
font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
    padding-left: 5px;
    text-align: center;
}

h3 {
    color: #AB4d00; 
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    line-height: 75%;
    font-family: sans-serif;
}


div {
    width: 900px;
    align-content: center;
    margin: 0 auto;
}

h4 {
    color: whitesmoke; 
    font-size: 13px;
    text-align: left;
    margin-left: 10%;
    line-height: 0%;
    
}

 h1 { 
    color: #AB4d00; 
    font-size: 20px;
    text-align: center;
    padding-top: px;
    
  
}

.resume {
    text-align: center;
    border-bottom-style: double;
    border-color: white;
    width: 90%;
}

.skills {
    padding-top: 120px;
    text-align: center;
    border-bottom-style: double;
    border-color: white;
    width: 90%;
}

.ocean {
    width: 700px;
}
.wine {
    width: 350px
}



h2 {
    color: whitesmoke;
    font-size: 17px;
    padding-top: 10px;
    text-align: left;
    margin-left: 10%;
    line-height: 10%;
}

.list {
    margin-left: 10%;
    line-height: 150%;
}



li {
    color: whitesmoke;
    list-style-color: orange;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 13px;
}



.pic {
width: 320px;
   margin-top: 20px;
    border-color: #AB4d00;
    border-width: thick;
    border-style: double;
    margin-left: 25%;
}


.col1 {
  width: 48%;
    float: left;
    display: fixed;
    margin-left: 30px;
    
  
}

.col2 {
  width: 48%;
    float: right;
    color: #D6D5C4;
    display: fixed;
}

.col3 {
  width: 200px;
    float: right;
    color: #D6D5C4;
    display: fixed;
    padding-right: 230px;
    padding-top: 30px;
}


.col4 {
  width: 38%;
    float: left;
    display: fixed;
    margin-left: 30px;
    padding-top: 30px;
    
  
}

.col5 {
  width: 40%;
    float: left;
    display: fixed;
    margin-left: 30px;
    padding-top: 30px;
    padding-left: 100px;
    
  
}

.col6 {
  width: 40%;
    float: left;
    display: fixed;
    margin-left: 30px;
    padding-top: 45px;
    
  
}

.col7 {
  width: 200px;
    float: right;
    color: #D6D5C4;
    display: fixed;
    padding-top: 30px;
}

.top {
    text-align: center;
    padding-top: 20px;
    border-style: none;
}

.objective {
    text-align: center;
}



p {
    font-size: 14px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    padding-left: 10px;
}

.objective {
     margin-left: 50px;
    margin-right: 100px;
    display: fixed;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    margin-top: 22px;
    text-align: center;
    line-height: 150%
}

.about {
    margin-top: 20px;
    margin-left: 10px;
}

.ap {
    margin-right: 50px;
    display: fixed;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    margin-top: 22px;
    width: 300px;
    text-align: left;
    line-height: 130%
}
.col1,
.col2{
  margin-top: 25px;
    
}

.grid-3 {
    margin-top: 50px;
     background-color: rgba(132, 71, 24, 0.4);
    height: 80%;
}

article {
    width: 950px;
    margin: 0 auto;
    border-radius: 70px;
    height: 600px;
}

/*Layout*/

html {
        background-image: url(/img/DarkWood.jpg);
}


/*Typography*/



/*Navigation*/




nav {
text-align:center;
}

nav ul {
display:inline-block;
list-style:none; 
}

* html nav ul { 
display:inline;
}

* html nav ul { 
display:inline;
}

nav li {
display:inline;   
}

#menu:hover {
    border-color: #D6D5C4;
    border-width: thin;
    border-bottom-style: solid;
    border-top-style: solid;
    width: auto;
}

nav a {
float:left;
text-decoration:none; 
padding:0 30px; 
color: #AB4d00;
font-size: 30px;
font-family: 'Lobster', cursive;
}

body {
    margin: 0;
    padding: 0;
}

#imagelist {
    font-size: 0;
    width: 376px;
    margin: 0 auto;
    padding-top: 100px;
}

#imagelist a {
    margin: 15px;
    border: 4px solid transparent;
    display: inline-block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  

}

#imagelist a:hover {
    border-color: #AB4d00;
    border-style: double;
    border-bottom-width: thick;
    background: rgb(0,0,0,.5);
}

#wine:hover {
    transform: translate(-80px, 80px);
}
#wine {
    transition: transform .5s ease-in-out;
}

#cancer:hover {
    transform: translate(80px, 80px);
}
#cancer {
    transition: transform .5s ease-in-out;
    
}


#ocean:hover {
    transform: translate(80px, -80px);
    
}
#ocean {
    transition: transform .5s ease-in-out;
}


#cards:hover {
    transform: translate(-80px, -80px);
}
#cards {
    transition: transform .5s ease-in-out;
}


#imagelist img {
    border-radius: 9px;
   
}





.cp img {
    width: 400px;
}

.scroll-bar-wrap {
  width: 406px;
    height: 507px;
  position: relative;
  margin-left: 60px;
    
}
.scroll-box {
  width: 406px;
  height: 507px;
  overflow-y: scroll;
    
}
.scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:hidden;
  border-right-radius: 2px;
}
.scroll-box::-webkit-scrollbar-thumb {
 background: rgba(171,77,0,.7); 
    width: 700px;
}
.cover-bar {
  position: absolute;
  background: black;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
    margin-left: 500px;
  -webkit-transition: all .5s;
  opacity: 1;
    
}














